//====================================================================================================
.header {
	background-color: black;

	@media (max-width:$tablet){
		 background-color: #27262A; 
	}


	._icon_logo {
		font-size: rem(40);
		color: $pinkColor;
		transition: color 0.3s ease 0s;

		@media (any-hover: hover){
			&:hover{
				color: $whiteColor;
			}
		}
	}

	._icon_logoMin {
		font-size: rem(40);
		color: $pinkColor;
		transition: color 0.3s ease 0s;

		@media (any-hover: hover){
			&:hover{
				color: $whiteColor;
			}
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(40);
		padding: rem(10) rem(20);
		min-height: 115px;
		z-index: 10;


	}

	&__menu {
		flex: auto;
		@media (max-width: $tablet){
			  display: flex;
			  justify-content: center;
			  order: 3;
		}

		
	}


	&__button {
		border-radius: rem(40);
		color: $whiteColor;
		background-color: $pinkColor;
		padding: rem(11) rem(35);
		font-weight: 700;
		font-size: rem(16);
		line-height: math.div(17, 16);
		transition: color 0.3s ease 0s;

		@media (any-hover: hover){
			&:hover{
				background-color: $whiteColor;
				color: $pinkColor;
			}
		}

		@media (max-width: $mobile){
			padding: rem(11) rem(20);
		}
	}
}

.menu {

	@media (max-width: $mobile) {
		position: fixed;
		top: -100%;
		left: 5%;
		width: 90%;
		height: auto;
		overflow: auto;
		background-color: #333333;
		transition: all 0.2s ease 0s;
		z-index: -2;

		&::before {
			content: "";
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: rem(60);
			background-color: #333333;
		}

		.menu-open & {
			top: rem(114);
			left: 5%;
			width: 90%;
			height: auto;
			overflow: auto;
			background-color: #333333;
			transition: all 0.2s ease 0s;
			z-index: -1;
		}
	
  }
	
	&__body {

		@media (max-width:$mobile){
			width: 100%;
		}
	}

	&__list {
		@media (min-width:$mobile){
			display: flex;
			flex-wrap: wrap;
			justify-content: end;
			row-gap: rem(20);
			@include adaptiveValue("column-gap", 57, 46, 0, 1200, 768);
		}

	}

	&__item {

		@media (max-width:$mobile){
			display: flex;
			align-items: center;
			height: rem(60);
			padding-left: rem(35);
			border-bottom: #3e3d3d 3px solid;
			padding: rem(45) rem(35);
			color: #333333;

	  }
	}

	&__item-active {
		@media (max-width:$mobile){
			position: relative;	
			color: $pinkColor; 
		
			// вертикальна лінія біля тексту з класом "menu__link-active" з лівого боку
			&::before {
				content: "";
				position: absolute;
				top: auto;
				left: 0;
				width: rem(6);
				height: rem(35);
				background-color: $pinkColor;
			}

		}
	}

	&__link {
		font-weight: 700;
		line-height: math.div(15, 16);
		font-size: rem(16);
		color: $pinkColor;
		transition: color 0.1s ease 0s;

		@media (any-hover: hover){
			&:hover{
				color: $whiteColor;
			}
		}

		@media (max-width:$mobile){
			font-weight: 400;
			font-size: rem(26);
			color: $whiteColor; 

		}
	}

	&__link-active {
		@media (max-width:$mobile){
			color: $pinkColor; 
		}
	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(40);
		height: rem(22);
		z-index: 5;
		
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 65%;
			height: rem(3);
			border-radius: 10px;
			background-color: #fff ;
		}
		&::before {
			top: rem(1);
			width: 40%;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			// &::before,
			// &::after {
			// }
			&::before {
				width: 70%;
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				width: 70%;
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}


